::-moz-selection {
    color: #eee;
    background: #ff68a7;
    text-shadow: none;
}
::selection {
    color: #eee;
    background: #ff68a7;
    text-shadow: none;
}

body {
    background-color: #ff888c;
    background-image: url("../images/shadow_light.png"), url("../images/pixels.png");
    background-position: 0 0, 0 50%;
    background-repeat: repeat-x, repeat;
}
.inner {
    background: -webkit-linear-gradient(left, #E5E5E5, rgba(255, 245, 254, 0.7) 2%, rgba(255, 245, 254, 0.7) 98%, #E5E5E5);
    background: -moz-linear-gradient(left, #E5E5E5, rgba(255, 245, 254, 0.7) 2%, rgba(255, 245, 254, 0.7) 98%, #E5E5E5);
    background: -ms-linear-gradient(left, #E5E5E5, rgba(255, 245, 254, 0.7) 2%, rgba(255, 245, 254, 0.7) 98%, #E5E5E5);
    background: -o-linear-gradient(left, #E5E5E5, rgba(255, 245, 254, 0.7) 2%, rgba(255, 245, 254, 0.7) 98%, #E5E5E5);
}
.anchor {
    font-size: 3em;
    color: #ff2c60;
    transition: .2s ease all;
}
.anchor:hover {
    color: #ff5e9a;
}
.lumpy {
    color: #000;
    font-size: 2em;
}
